<% provide :title, "All posts" %>
<%= render "layouts/site_header" %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="container-post">
        <%= render @posts %>
      </div>
      <ul class="pager">
        <li class="next">
        <%= image_tag "ajax-loader.jpg", style: "display: none;", class: "loading-gif" %>
        <%= link_to "Older Posts", posts_path, class: "load-more" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= javascript_include_tag "posts/index.js" %>
